<%- include('../partials/header') %>

<div class="container">
 <form action="/login" method="post">
    <label for="username">Pseudo : </label> <input type="text" name="username" id="username" placeholder="pseudo">
    <button>Se connecter</button>
</form>
</div>

<%- include('../partials/footer') %> 