<%- include('partials/header') %>

<h2>Bienvenue sur le l'annuaire des scientifiques</h2>
<ul>
<li><a class="home-link"href="/promos">Voir la liste alphabétique</a></li>
<br>
<li><a class="home-link"href="/admin/addStudent">Ajouter un scientifique</a></li>
</ul>
<%- include('partials/footer') %>